block footer
	+alert-info("<strong>Can't see your activity?</strong> Don't panic - activities may take a while to come through!")
	p Tour de Monterosa is available on 
		a(href="https://github.com/uphillstruggle/teamchallenge") Github.com
