block footer
	p Tour de Monterosa is available on 
		a(href="https://github.com/uphillstruggle/teamchallenge") Github.com
	
	script(src='https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js')
	script(src='https://www.gstatic.com/firebasejs/7.17.2/firebase-analytics.js')
	script.
		var firebaseConfig = { !{firebase_config} }; 
		firebase.initializeApp(firebaseConfig); 
		firebase.analytics();



