extends _bootstrap
append styles
	// Bootstrap theme
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")
	// Custom styles for this template
	link(href='/css/theme.css', rel='stylesheet')
block body
	include navbar.pug
	.container.theme-showcase(role='main')
		h1 My activities
		p Thanks for joining the challenge! These activities have been added to the challenge total:
		p Qualifying activities from #{event.first_date} to #{event.last_date} of types: 
		each item in activity_types
			if (item.allowed)
				| #{item.name} 
		p
			+table(["#","Name","type","Date","Distance"],activities)


		include footer.pug
